# This is Git's per-user configuration file.
[user]
	name = Allen Davis-Swing
	email = allen.davisswing@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDw4paomkPUuZfuJsZdWERz3sFBNNm2b7TqU1SUDAks/
[gpg]
	format = ssh
[commit]
	gpgsign = false
[push]
	autoSetupRemote = true
[core]
	editor = hx

[alias]
	st = status --short --branch
	co = checkout
	ci = commit
	br = branch
	unstage = reset HEAD --

[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
