[[language]]
name = "python"
language-servers = ["basedpyright", "ruff"]
auto-format = true
formatter = { command = "ruff", args = ["format", "-"] }

[language-server.basedpyright]
command = "basedpyright-langserver"
args = ["--stdio"]

[language-server.ruff]
command = "ruff"
args = ["server"]

[language-server.zk]
command = "zk"
args = ["lsp"]

[[language]]
name = "markdown"
language-servers = ["zk"]
roots = [".zk"]
comment-tokens = ["-", "*", "+", "- [ ]", "- [x]", ">"]
